.welcome-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('src/assets/background.png') no-repeat center center/cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay h1 {
  font-family: 'Pirata One', cursive;
  font-size: 5em;
  margin-bottom: 300px;
  background: linear-gradient(45deg, #FFD700, #FF8C00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.6),
  0 0 20px rgba(255, 140, 0, 0.6),
  0 0 30px rgba(255, 0, 0, 0.6);
}

.play-button {
  position: relative;
  padding: 15px 30px;
  margin: 15px 0;
  font-size: 1.5em;
  color: #fff;
  background-color: rgba(139, 69, 19, 0);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Pirata One', cursive;
  background-image: url('src/assets/woodButton.png');
  background-size: cover;
  background-position: center;
  border: none;
  width: 300px;
}

.play-button:hover {
  transform: translateY(-5px); /* Move the button up slightly */
}

.play-button:active {
  transform: translateY(2px);
}
