<head></head>
<body>


<!--Damage Display Overlay-->
<div class="damage-overlay" *ngIf="showDamage"></div>

<div class="game-container">
  <h1>Island Game 3D</h1>
  <div class="game-board-container">

    <!--Lives-->
    <div class="lives-counter">Lives:
      <span *ngFor="let life of playerLivesArr" [ngClass]="{ 'animated': isLivesAnimating }">☠</span>
    </div>

    <!--Game board-->
    <div class="game-screen-container">
      <div #rendererContainer class="renderer-container"></div>
    </div>

    <!--Altitude legend-->
    <div class="altitude-legend">
      <div class="gradient-bar"></div>
      <div class="height-labels">
        <span>0m</span>
        <span>200m</span>
        <span>400m</span>
        <span>600m</span>
        <span>800m</span>
        <span>1000m</span>
      </div>
    </div>

  </div>
</div>


<!--End Game Popup-->
<app-game-over-popup
  *ngIf="this.isGameOver"
  [isVictory]="this.isVictory"
  [playerLives]="this.playerLivesArr.length"
  (restart)="handleRestart()"
  (quit)="handleQuit()">
</app-game-over-popup>

</body>


